In [26]:
'''
import re
users = [
    {"id": 0, "name": "Hero"},
    {"id": 1, "name": "Dunn"},
    {"id": 2, "name": "Sue"},
    {"id": 3, "name": "Chi"},
    {"id": 4, "name": "Thor"},
    {"id": 5, "name": "Clive"},
    {"id": 6, "name": "Hicks"},
    {"id": 7, "name": "Devin"},
    {"id": 8, "name": "Kate"},
    {"id": 9, "name": "Klein"},
]
friendship_pairs = [(0,1), (0,2), (1,2), (1,3), (2,3), (3,4), (4,5), (5,6), (5,7), (6,8), (7,8), (8,9)]

x = [0,1,2,3,4,5,6,7,8,9]
zero = x[-6]
x[0] = -1
print (x) '''

def double(x):
    return x * 2

def apply_to_one(f):
    return f(2)
    
my_double = double
x = apply_to_one(my_double)
print (x)

4